
.card {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  filter: contrast(93%);
  transform: scale(0.99);
  transition: 200ms ease-in-out;
  flex: 1 1 400px;
}

.card:hover {
  cursor: pointer;
  filter: contrast(100%);
  transform: scale(1);
  box-shadow: 3px 3px 15px #D8E7FC;
}

.card:hover h2 {
  text-decoration: underline rgba(0,0,0,0.25);
}

.infoWrapper h2 {
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.infoWrapper p {
  margin: 0.5rem 0;
  padding: 0 1.5rem 1.25rem;
}